#login-card {
  min-width: 300px;
  width: 20%;
}

.full-page {
  height: 100vh;
  width: 100vw;
}

.login-background {
  background: url('~src/assets/graphics/login-background.jpg') no-repeat center center fixed;
  background-size: cover;
}
