@import "~@angular/material/theming";

@include mat-core();

$md-assetto: (
  50 : #ffe3e3,
  100 : #ffb9b9,
  200 : #ff8b8b,
  300 : #ff5c5c,
  400 : #ff3939,
  500 : #ff1616,
  600 : #ff1313,
  700 : #ff1010,
  800 : #ff0c0c,
  900 : #ff0606,
  A100 : #ffffff,
  A200 : #fff3f3,
  A400 : #ffc0c0,
  A700 : #ffa7a7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$custom-theme-primary: mat-palette($md-assetto);
$custom-theme-accent: mat-palette($mat-grey, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-dark-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);
